.issue-from-file__label {
  background: rgba(20, 207, 182, 0.472);
  width: 170px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Ruda';
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.issue-from-file__label:hover {
  background: rgba(105, 255, 235, 0.815);
  box-shadow: 0 0 5px 1px #55545452;
}
.issue-from-file__label:active {
  background: rgba(20, 207, 182, 0.472);
  box-shadow: none;
}
.issue-from-file__input {
  display: none;
}
