.timer {
  width: 200px;
  height: 80px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.timer__min,
.timer__sec {
  position: relative;
  width: 75px;
  height: 55px;
  font-family: 'Ruda';
  font-weight: 700;
  font-size: 64px;
  line-height: 81px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.18);
  border-radius: 6px;
  color: #000000;
  padding-top: 7px;
}
.timer__min:before,
.timer__sec:before {
  position: absolute;
  top: -14px;
  width: 50px;
  height: 13px;
  font-family: 'Ruda';
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.5);
}
.timer__min:before {
  content: 'minutes';
  left: 50%;
  transform: translateX(-50%);
}
.timer__sep {
  font-family: 'Ruda';
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
.timer__sec:before {
  content: 'seconds';
  right: 50%;
  transform: translateX(50%);
}
