.result {
  width: 1400px;
  margin: 0 auto;
}
.result__list {
  padding: 25px 15px;
}
.result__item {
  margin-bottom: 15px;
  border-bottom: 1px solid #000;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.result__item:last-child {
  border-bottom: none;
}
.result__item-info-wrap {
  padding: 25px 0;
  display: flex;
  align-items: center;
  column-gap: 10px;
  row-gap: 10px;
}
.result__item-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.result__item-info-score {
  font-family: 'Ruda';
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  color: #000000;
}
