.issue-dialig-tittle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  color: #000000;
}

.issue-dialog-input-wrapper, 
.issue-dialog-select-wrapper {
  width: 420px;
  height: 47px;
  margin: 30px;
}

.issue-dialog-input {
  width: 420px;
  height: 47px;
  background: #FFFFFF;
  border: 1px solid #2B3A67;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px;
}

.issue-dialog-select-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.issue-dialog-select-label {
  
}